activemq-app/src/main/mule/activemq-app.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="41b1ffdd-197c-4076-9beb-9f111956b64f" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<jms:config name="JMS_Config" doc:name="JMS Config" doc:id="501b88e6-a53a-465d-b011-f7052c0271ea" >
		<jms:active-mq-connection username="admin" password="admin">
			<jms:factory-configuration brokerUrl="tcp://localhost:61616" />
		</jms:active-mq-connection>
	</jms:config>
	<flow name="activemq-appFlow" doc:id="9ec34f68-fa51-4bc9-8528-eb86e7f54a70" >
		<http:listener doc:name="Listener" doc:id="a460409b-ccca-4730-afe9-5a7efa11686c" config-ref="HTTP_Listener_config" path="/q"/>
		<logger level="INFO" doc:name="Logger" doc:id="469b9fa6-30f2-4805-8d6c-cb57a1ee9d30" message="#[payload]"/>
		<jms:publish doc:name="Publish" doc:id="4c00f239-f123-484a-9c34-67d99bab1239" config-ref="JMS_Config" destination="Topic1" destinationType="TOPIC"/>
		<ee:transform doc:name="Transform Message" doc:id="82226971-c8a8-4165-a9e4-500c5c5acb93" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message:"The message was successfully published"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
